In [1]:
import pandas as pd

#UNIDIMENSIONAL:

In [2]:
lista_productos = pd.Series({"carne":20000, "huevos":1500, "leche":2700, "azucar":3200, "arroz": 4200, "pescado": 25000, "pan": 1700, "papa":300, "tomate": 800, "lentajas":1700})
lista_productos

carne       20000
huevos       1500
leche        2700
azucar       3200
arroz        4200
pescado     25000
pan          1700
papa          300
tomate        800
lentajas     1700
dtype: int64

#BIDIMENSIONAL:

In [5]:
lista_productos_frame= pd.DataFrame({"Enero":[20000,1500,2700,3200],"Febrero":[19850,1300,2900,3250], "Marzo":[20100,1480,2600,3100], "Abril":[19990,1553,2580,2990]}, index=["carne","huevos","leche","azucar"])
lista_productos_frame

        Enero  Febrero  Marzo  Abril
carne   20000    19850  20100  19990
huevos   1500     1300   1480   1553
leche    2700     2900   2600   2580
azucar   3200     3250   3100   2990

In [6]:
lista_productos_frame[["Febrero","Marzo"]]

        Febrero  Marzo
carne     19850  20100
huevos     1300   1480
leche      2900   2600
azucar     3250   3100

In [7]:
lista_productos_frame["Abril"]

carne     19990
huevos     1553
leche      2580
azucar     2990
Name: Abril, dtype: int64